/* li{
    list-style: none;
    color: royalblue;
    font-size: 24px;
    font-weight: 900;
}

input{
    padding: 9px;
    outline: none;
    border: 2px solid #ccc0c0;
    font-weight: 900;
}


 */
